{% extends "_base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}">
{% endblock %}
{% block content %}
    <h1>Welcome to Inventory Manager.</h1>
    <!-- Date picker -->
    <div class="add-date">
        <h3>Choose a period:</h3>

        <form class="form-inline" action="/orders/" method="post">
            <div class="input-daterange" id="datepicker">
                <div class="form-group">
                    <label for="start">From:</label>
                    <input type="text" class="input-sm form-control" name="start" id="start" required/>
                </div>
                <div class="form-group">
                    <label for="end">to:</label>
                    <input type="text" class="input-sm form-control" name="end" id="end"/>
                </div>
                <button type="submit" class="btn btn-info btn-sm">Submit</button>
            </div>
        </form>
    </div>
    <!-- Summed orders table -->
    <div class="items">
        {% if one_day %}
            <h2>Summed Orders: {{ start_date }}</h2>
        {% else %}
            <h2>Summed Orders: {{ start_date }} - {{ end_date }}</h2>
        {% endif %}
        <div class="datagrid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="400px"><strong>Item Name</strong></th>
                    <th width="125px"><strong>Predicted Total</strong></th>
                </tr>
                </thead>
                {% for sum in summed %}
                    <tr>
                        <td width="400px">{{ sum.name }}</td>
                        <td width="125px">{{ sum.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>

    <!-- Individual orders table -->
    <div class="items">
        <h2>Order List</h2>

        <div class="datagrid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="100px"><strong>Date</strong></th>
                    <th width="300px"><strong>Item Name</strong></th>
                    <th width="125px"><strong>Predicted</strong></th>
                </tr>
                </thead>
                {% for order in order_list %}
                    <tr>
                        <td width="100px">{{ order.date }}</td>
                        <td width="300px">{{ order.name }}</td>
                        <td width="125px">{{ order.predicted }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='locales/bootstrap-datepicker.en-GB.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}